* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: azure;
    padding: 16px 0;
    color: rgb(232, 148, 142);
    display: flex;
    border-bottom: 16px solid rgb(232, 148, 142);
    justify-content: center;
    text-transform: uppercase;
    font-weight: 200;
}

header button {
    margin-left: 16px;
}

form {
    background-color: azure;
    padding: 24px 0;
    text-align: center;
    display: none;
}

input {
    padding: 8px;
}

button {
   background-color: rgb(134, 153, 239);
   border: none;
   cursor: pointer;
   text-transform: uppercase;
   color: azure;
}

form h2 {
    margin-bottom: 16px;
}

#blt-cancelar {
    background-color: rgb(140, 19, 77);
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-image-link {
    padding: 19px;
    background-color: rgba(0, 0, 1, 0.679);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-image-link a {
    color: aliceblue;
    text-decoration: none;
}

ul li:hover .overlay-image-link{
    opacity: 1;
} 

body {
    background-color: lavender;
}
